# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Models
*.pth
*.onnx
outputs/

# Environments
.venv/
env/
venv/

# Notebooks
.ipynb_checkpoints

# Kaggle / OS
.kaggle/
.DS_Store